version: '3.7'

x-common: &common
    image: liofal/streamlink:1.4.0-beta
    build:
      context: .
      dockerfile: Dockerfile
    env_file: 
        - ../global.env    
        - default.env
        - clientid.env
    user: 1027:100
    logging:
      driver: json-file
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M
    volumes:
    - /volume1/twitch:/download

services:
 test:
    <<: *common
    volumes:
    - ./streamlink-recorder.py:/streamlink-recorder.py
    - /volume1/twitch:/download
    environment:
      - user=polt
      - quality=worst
 
 eternalenvyy:
    <<: *common
    environment:
      - user=eternalenvyy
      - quality=best

 miracle_doto:
    <<: *common
    environment:
      - user=miracle_doto

 idralingsc:
    <<: *common
    environment:
      - user=idralingsc
 
 egjd:
    <<: *common
    environment:
      - user=egjd
 
 dongraegu:
    <<: *common
    environment:
      - user=dongraegu
 
 qkrfuddn0:
    <<: *common
    environment:
      - user=qkrfuddn0
 
 jinairsos1:
    <<: *common
    environment:
      - user=jinairsos1
 
 gsl:
    <<: *common
    environment:
      - user=gsl
      - quality=best
      - gamelist=StarCraft II
 
 starcraft:
    <<: *common
    environment:
      - user=starcraft
      - gamelist=StarCraft II
 
 maru072:
    <<: *common
    environment:
      - user=maru072
      - quality=best
 
 roguejinair:
    <<: *common
    environment:
      - user=roguejinair
 
 sc2solar:
    <<: *common
    environment:
      - user=sc2solar
 
 sc2soo:
    <<: *common
    environment:
      - user=sc2soo
 
 serral:
    <<: *common
    environment:
      - user=serral
      - quality=best

 reynor2002:
    <<: *common
    environment:
      - user=reynor2002
      - quality=best

 innovation_s2:
    <<: *common
    environment:
      - user=innovation_s2
  
 gostephano:
    <<: *common
    environment:
      - user=gostephano
 