version: '3.7'

services:
  plex:
    container_name: plex
    image: plexinc/pms-docker
    restart: unless-stopped
    ports:
      - 32400:32400/tcp
      - 3005:3005/tcp
      - 8324:8324/tcp
      - 32469:32469/tcp
      - 1900:1900/udp
      - 32410:32410/udp
      - 32412:32412/udp
      - 32413:32413/udp
      - 32414:32414/udp
    env_file: 
        - .env
        - ../global.env    
        - clientid.env    
    hostname: liofal.synology.me
    volumes:
      - /volume1/docker/plex/config:/config
      - /volume1/docker/plex/transcode:/transcode
      - /volume1/tvshows:/data/tvshows
      - /volume1/movies:/data/movies
      - /volume1/twitch:/data/twitch 
    logging:
      driver: json-file
    deploy:
      resources:
        limits:
          memory: 128M
